.container {
  border-radius: 15px;
  padding: 15px;
  background-color: var(--color-alt-bg);
}

.container h1 {
  font-size: 30px;
  background-color: var(--color-bg);
  padding: 15px;
  border-radius: 15px;
}

.container h2 {
  margin: 15px 15px 0px 15px;
  padding: 15px;
  border-radius: 15px;
  background-color: var(--color-bg);
}

.container h2 span {
  background-color: var(--color-alt-bg);
  padding: 6px;
  border-radius: 8px;
}
