.container {
    border-radius: 15px;
    border: 15px #373737 solid;
    background-color: #373737;
}

.container h1 {
    font-size: 30px;
    background-color: #272727;
    border: 15px solid #272727;
    border-radius: 15px;
}

.container h2 {
    margin: 15px 15px 0px 15px;
    border: #272727 solid 15px;
    border-radius: 15px;
    background-color: #272727;
}

.container h2 span {
    background-color: #373737;
    border: #373737 solid 6px;
    border-radius: 8px;
}