.container {
  display: flex;
  background-color: var(--color-alt-bg);
  border-radius: 15px;
}

.description {
  flex-grow: 1;
  margin: 15px;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  font-size: 35px;
}

.image {
  height: 200px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

@media (max-width: 870px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
  .titleContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    border-radius: 15px;
    font-size: 20px;
    background-color: var(--color-alt-bg);
  }
  .description {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .overview {
    padding: 15px;
    border-radius: 15px;
    background-color: var(--color-alt-bg);
  }
  .image {
    border-radius: 15px;
    width: 200px;
    height: auto;
  }
}
