@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #dac0a3;
  --color-alt-bg: #eadbc8;
  --color-text: #000000;
  --color-alt-text: #ffffff;
  --color-dark-text: #dab693;
  --color-placeholder: #8d7f6f;
}

[data-theme="dark"] {
  --color-bg: #272727;
  --color-alt-bg: #373737;
  --color-text: #ffffff;
  --color-alt-text: #000000;
  --color-dark-text: #1c1c1c;
  --color-placeholder: #9ca3af;
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  align-self: center;
  flex-direction: column;
  padding: 25px 25px 0px 25px;
  width: 100%;
  max-width: 1200px;
}

.title {
  font-size: 35px;
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 15px;
}

.button {
  font-size: 25px;
  background-color: var(--color-alt-bg);
  padding: 15px;
  border-radius: 15px;
}

.button:hover {
  color: var(--color-bg);
}
