.formContainer {
  background-color: var(--color-alt-bg);
}

.container {
  overflow-x: auto;
  max-height: 350px;
}

.individualContainer {
  padding: 15px;
  border-radius: 15px;
  margin: 15px 45px 0px 45px;
  background-color: var(--color-alt-bg);
}

.individualContainer div {
  display: flex;
  justify-content: space-between;
}

.download:hover {
  cursor: pointer;
  color: var(--color-bg);
}
