.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  border-radius: 25px;
  background-color: var(--color-alt-bg);
  flex-grow: 1;
}

.container > img {
  border-radius: 25px;
  padding: 15px;
  max-height: 150px;
}

.container > div {
  flex-grow: 1;
}

.movieTitle {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin-right: 20px;
}

.container h2 {
  margin-top: 15px;
  font-size: 25px;
}
.text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 300px;
}

.star {
  color: yellow;
}

.heart {
  color: #272727;
}

.heart:hover {
  color: red;
}

.downloadCount {
  display: flex;
  justify-content: end;
  margin-right: 20px;
  font-size: 25px;
}
